/* Fuentes */
@font-face {
    font-family: "Fire Sans";
    src: url("../fonts/FiraSans-ExtraBoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


/* CSS para la index page 
--------------------------------------------------------------------------*/

/* estilos del fondo */
#background_index {
    margin: 0;
    padding: 0;
    background-image: url("../Design_resources/fondo_index-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/*Ajuste del contenedor header*/
#header_brand {
    background-color: white;
    display: flex;
    flex-direction: row;
    top: auto;
    justify-content: center;
}

/*logo NEOTIX*/
.logo_brand {
    width: 30%;
    padding: 1%;
}

/*ajuste del contenedor principal*/
#main_index {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    z-index: 100;
    width: 60%;
    height: 70vh;
    padding-left: 2%;
}

.welcome_home {
    display: flex;
    flex-direction: column;
}

#home_h2 {
    font-family:"Fire Sans";
    font-size: 4rem;
}

#home_p {
    font-family: "Open Sans";
    font-size: 2rem;
}

/*Diseño del boton de inicio (index page)*/
.button_index {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    border-radius: 10px;
    font-size: 1.25em;
    cursor: pointer;
    font-family: "Fire Sans";
    margin: auto;
    padding: 10px;
    width: 30%;
  }
  
  .button_index span {
    position: relative;
    z-index: 1;
  }
  
  .button_index::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #272727;
    border-radius: 9px;
    transition: 0.5s;
  }
  
  .button_index:hover::before {
    opacity: 0.7;
  }
  
  .button_index::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    border-radius: 9px;
    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
  }
  
  .button_index:hover:after {
    opacity: 1;
  }

/*Contenedor de los cubos*/
#container_cubes {
    display: flex;
    flex-direction: row;
}

/*Animacion de los cubos*/
#Cubo_1 {
    height: 20%;
    top:45vh;
    right: 15vw;;
    position: absolute;
    z-index: 6;
    animation: float 3s infinite;
}

#Cubo_1 {
    animation-timing-function: cubic-bezier(.55,.54,.72,1);
}

@keyframes float {
    0%   { top: 30vh; }
    50%  { top: 25vh; }
    100% { top: 30vh; }
}

#Cubo_2 {
    top:25vh;
    right: 2vw;
    position: absolute;
    height: 10%;
    z-index: 5;
    animation: float2 3s infinite
}

#Cubo_2 {
    animation-timing-function: cubic-bezier(.55,.54,.72,1);
}

@keyframes float2 {
    0%   { top: 20vh; }
    50%  { top: 25vh; }
    100% { top: 20vh; }
}

/* CSS para products page
--------------------------------------------------------------------------*/

/*fondo*/
body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

/*Barra de navegación de la products page*/

nav a {
  display: inline-block;
  flex-shrink: 0; /* que no se encoja */
}

.nav_tab {
    background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}

#nav_logo {
  width: 150px; 
  height: auto; 
  display: block; 
}

/*Barra de busqueda*/
#search_input {
  width: 100%;
  border: 2px solid rgb(0, 88, 52);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(0, 88, 52);
  font-family: "Fire Sans";
  background-color: #272727;
  color: white;
  box-sizing: border-box;
}

/*logos de filtro y carrito de compras*/
.nav_logos {
    width: 3%;
}

/*Select para seleccionar el filtro*/
#menu_filtro {
  font-family: "Fire Sans";
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid rgb(0, 88, 52);
  border-radius: 8px;
  background-color: #272727;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 255, 128, 0.5);
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  cursor: pointer;
}

#menu_filtro:hover {
  box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.8);
  border-color: #00ff91;
}

#menu_filtro:focus {
  outline: none;
  border-color: #00ffc8;
  box-shadow: 0 0 10px #00ffc8;
}

/*Contenedor donde se crean dinamicamente los productos*/
#contenedorProductos {
  color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  background-color: #000000;
  font-family: "Open Sans";
}

/*contenedor donde se crea dinamicamente e individualmente un producto*/
.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 50px rgb(0, 88, 52);
  border-radius: 20px;
  background-color: white;
  justify-content: center;
}

/*Imagen del producto*/
.imagen_producto {
  width: 40%;
  padding: 20px;
  border-radius: 30px;
}

/*(IMPORTANTE) clase que permite ocultar y mostrar el contenido de las vistas*/
.oculto {
  display: none !important;
}
/* CSS para la product info page
--------------------------------------------------------------------------*/

/*contenedor del producto*/
#detalleProducto {
  margin: 1%;
}

/*Contenedor donde estan los otros dos contenedores(imagen_producto_detalle y contenedorInfoProducto)*/
.contenedor_general {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  background-color: #000b34;
  border: 2px solid #005D66;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 20px;
  margin-top: 20px;
  margin: 50px;
  gap: 20px;
}

/*Imagen del producto*/
.imagen_producto_detalle {
  width: 100%;
  border-radius: 5px;
  align-self: center;
}

.contenedorInfoProducto {
  /*Contenedor donde se aloja toda la información del producto*/
  width: 55%;
}

/*Categoria del producto*/
.categoria {
  border: 1px solid rgb(0, 177, 184);
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  font-family: "Fire Sans";
}

/*Estilos del boton regresar*/
.bubbles {
    --c1: #212121; 
    --c2: #8685ef;
    --size-letter: 22px;
    padding: 0.5em 1em;
    font-size: var(--size-letter);
  
    background-color: transparent;
    border: calc(var(--size-letter) / 6) solid var(--c2);
    border-radius: 0.2em;
    cursor: pointer;
  
    overflow: hidden;
    position: relative;
    transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
  }
  
  .bubbles > .text {
    font-weight: 700;
    color: var(--c2);
    position: relative;
    z-index: 1;
    transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
  }
  
  .bubbles::before {
    top: 0;
    left: 0;
  }
  
  .bubbles::after {
    top: 100%;
    left: 100%;
  }
  
  .bubbles::before,
  .bubbles::after {
    content: "";
    width: 150%;
    aspect-ratio: 1/1;
    scale: 0;
    transition: 1000ms cubic-bezier(0.76, 0, 0.24, 1);
  
    background-color: var(--c2);
    border-radius: 50%;
  
    position: absolute;
    translate: -50% -50%;
  }
  
  .bubbles:hover {
    & > span {
      color: var(--c1);
    }
    &::before,
    &::after {
      scale: 1;
    }
  }
  
  .bubbles:active {
    scale: 0.98;
    filter: brightness(0.9);
  }

  /*Boton para agregar el producto*/
#button_agregar {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  #button_agregar:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  #button_agregar:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  #button_agregar::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  #button_agregar:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

/* CSS para cart page
--------------------------------------------------------------------------*/

/*Mensaje en caso tal que no hayan productos en el carro*/
.mensaje {
  color: white;
  text-align: center;
}

/*Estilos para la cabecera*/

/*header de la cart page*/
.header_cartPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

/*Boton para regresar a la products page*/
.btn_volver {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  font-family: "Fire Sans";
}

.btn_volver::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #005D66;
  transition: 0.5s ease;
}

.btn_volver:hover {
  color: #005D66;
  transition-delay: 0.5s;
}

.btn_volver:hover::before {
  width: 100%;
}

.btn_volver::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffffff;
  transition: 0.4s ease;
  z-index: -1;
}

.btn_volver:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: #ff0303;
}

.cart_title {
    font-family: "Fire Sans";
    font-size: 3rem;
    color: #000000;
}

.cart_image_cart {
    width: 5%;
}

/*Boton para vaciar por completo el carrito de compras*/
.btn_vaciar {
  background: #005D66;
  font-family: "Fire Sans";
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  padding: 10px;
  color: white;
  margin: 20px;
}

.btn_vaciar:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.btn_vaciar:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

/*Id general para añadir la fuente a toda la vista*/
#carrito {
  font-family: "Open Sans";
}

/*Span ("Tus items")*/
.span_items {
  font-family: "Fire Sans";
  text-align: center;
}

/*Contenedor en el que se alojan todos los items agregados al carrito*/
.items_cart {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  width: 70%;
}

/*Contenedor individual para cada item*/
.producto-carrito {
  padding: 10px;
  border: 3px solid #005D66;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #005D66;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

/*Imagen para cada item del carrito*/
.imagen-producto_carrito {
  width: 10%;
}

/*Contenedor donde se ubican los botones de suma y resta*/
.algorithmButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

/*Botones de suma y resta*/
.buttonsSR {
  width: 30px;
}

/*Contenedor general donde se ubican dos contenedores hijos(pago_container y producto-carrito)*/
.cart_container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 20px;
  align-items: center;
}

/*Contenedor de pagos*/
.pago_container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
}

/*Boton de pago*/
.btn_pagar {
  font-family: "Fire Sans";
  background-color: #005D66;
  font-size: 2rem;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/*Logo de la tarjeta*/
.card_logo {
  width: 40px;
}

/*RESPONSIVE DESIGN*/
@media (max-width: 600px) {

  /* ========Ajuste principal para pantallas pequeñas======== */
  /*RESPONSIVE PARA LA INDEX PAGE*/
  #main_index {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    padding: 2rem 1rem;
    margin: 0 auto;
    text-align: center;
  }

  .logo_brand {
    width: 70%;
    max-width: 250px;
    padding: 1rem;
  }


  .welcome_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  #home_h2 {
    font-size: 2.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  #home_p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
  }

  .button_index {
    width: auto;
    padding: 10px 20px;
    font-size: 1rem;
  }
  #container_cubes {
    display: none;
  }

  /*RESPONSIVE PARA LA PRODUCTS_PAGE*/
  nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  }

  .nav_logos {
    width: 10%;
  }

  #contenedorProductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 2rem;
  }

  /*RESPONSIVE PARA LA DETAILS_PAGE*/
  .contenedor_general {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 1rem;
  }

  /*RESPONSIVE PARA LA CART_PAGE*/
  .header_cartPage {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .cart_title {
    font-size: 2rem;
  }

  .cart_image_cart {
    width: 15%;
  }

  .btn_volver,
  .btn_vaciar {
    font-size: 1rem;
    padding: 10px;
    width: 80%;
    text-align: center;
  }

  .cart_container {
    flex-direction: column;
    padding: 10px;
    gap: 20px;
  }

  .items_cart {
    width: 100%;
    padding: 10px;
  }

  .producto-carrito {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  .imagen-producto_carrito {
    width: 50%;
  }

  .algorithmButtons {
    justify-content: center;
    padding: 5px;
  }

  .buttonsSR {
    width: 30px;
  }

  .pago_container {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .btn_pagar {
    font-size: 1.5rem;
    width: 90%;
  }

  .card_logo {
    width: 30px;
  }

  .span_items {
    font-size: 1.2rem;
    margin-top: 10px;
  }
}
